.posts__list {
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    margin-top: 1em;
}

.section__inner.posts__inner {
    max-width: 1280px;
}

.post {
    width: 33%;
    flex-basis: 33%;
    border: 8px solid white;
    box-sizing: border-box;
    position: relative;
    padding: 20px 40px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post a {
    text-decoration: none;
    color: white;
}

.post h2 {
    font-size: 44px;
    line-height: 1em;
}

.post .bgimg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: #f75a00;
    border-radius: 6px;
}

.bgimg__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.post__text {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}